.pict {
  display: flex;
  justify-content: center;
}
.hexagon {
  position: relative;
  width: 200px;
  height: 115.47px;
  margin: 57.74px 0;
  background-image: url(../IMG_20200403_184029_441.jpg);
  background-size: auto 219.3931px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  border-left: solid 5px #ffffff;
  border-right: solid 5px #ffffff;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 24.29px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: '';
  position: absolute;
  width: 190px;
  left: 0;
  height: 109.69655114602891px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -70.7107px;
  border-top: solid 7.0711px #ffffff;
  border-right: solid 7.0711px #ffffff;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
  border-bottom: solid 7.0711px #ffffff;
  border-left: solid 7.0711px #ffffff;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: '';
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 190px;
  height: 109.6966px;
  z-index: 2;
  background: inherit;
}

.intro {
  margin-top: 30px;
  padding-left: 0px;
  padding-top: 30px;
}

.name {
  text-align: center;
}

.fullname {
  font-family: 'Hind Siliguri', sans-serif;
  line-height: 1;
  font-weight: 700 !important;
  letter-spacing: 3px;
}

.about {
  text-align: center;
}

@media (max-width: 767px) {
  .name {
    margin-bottom: 40px;
  }
  .divintro {
    background-color: black;
    width: -webkit-fill-available;
    height: 2px;
    margin-bottom: 40px;
  }
  /* .about {
    left: 0px;
    text-align: center;
  } */
}
@media (min-width: 768px) {
  .divintro {
    display: none;
  }
  .intro {
    align-items: center;
  }
}
@media (min-width: 992px) {
  .name {
    text-align: start;
  }
  .divintro {
    background-color: black;
    width: 2px;
    height: 220px;
    display: block;
  }
  .intro {
    align-items: center;
  }
}
